<div class="login-form">
    <div class="card">
      <h2 class="head py-2">Login</h2>
      <form class="user-login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="row">
          <div class="col-md-12 roundedTextBox mb-3">
            <label>Kullanıcı Adı</label>
            <input type="email" class="form-control mb-2" id="inputEmail" formControlName="email" placeholder="Enter Email">
            <div *ngIf="submitted && formControl.email.errors" class="text-danger">
              <div *ngIf="formControl.email.errors.email">Email geçersiz.</div>
              <div *ngIf="formControl.email.errors.required">Email gerekiyor.</div>
            </div>
          </div>
          <div class="col-md-12 roundedTextBox mb-3">
            <label>Şifre</label>
            <input type="password" class="form-control mb-2" id="inputPassword" formControlName="password" placeholder="Enter Password">
            <div *ngIf="submitted && formControl.password.errors" class="text-danger">
              <div *ngIf="formControl.password.errors.required">Şifre gerekiyor.</div>
              <div *ngIf="formControl.password.errors.pattern">
                <ul>
                  <li>Şifre alfanümerik olmalıdır</li>
                  <li>En az bir harfi büyükharf olmalıdır</li>
                  <li>Şifre en az bir özel karakter içermelidir (@, $, !, & vs.)</li>
                  <li>Şifre 7 karakterden uzun olmalıdır</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="buttons text-center">
          <button class="btn btn-primary mr-2" type="submit">Giriş</button>
        </div>
      </form>
    </div>
  </div>
