<!-- GENEL SATIŞ TOPLAMI RAPORU -->
<h3 class="text-center" >GENEL SATIŞ RAPORU</h3>
<table *ngIf="rapor1.length > 0; else noData" class="table table-striped m-4">
    <thead>
      <th>Urun Adı</th>
      <th>Fiyat</th>
      <th>Kategori</th>
      <th>İşlem Tarihi</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of rapor1; let i = index">
        <td>{{ item.urun_adi }}</td>
        <td>{{ item.fiyat }}<i>₺</i></td>
        <td>{{ item.kategori }}</td>
        <td>{{ item.saat }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noData>
    <p class="p-3 mb-2 bg-warning text-dark fs-1"> Hadi satışlara başlayalım 😀! </p>
  </ng-template>

<!-- SİPARİŞ TOPLAMI RAPORU -->
<h3 class="text-center" >SİPARİŞ TOPLAMI RAPORU</h3>
<table *ngIf="rapor2.length > 0; else noData" class="table table-striped m-4">
    <thead>
      <th>Günlük Toplam Satışlar</th>
      <th>İşlem Tarihi</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of rapor2; let i = index">
        <td>{{ item.toplam }}<i>₺</i></td>
        <td>{{ item.islem_tar }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noData>
    <p class="p-3 mb-2 bg-warning text-dark fs-1"> Bugün mutlaka bişeyler satarız merak etme 😀! </p>
  </ng-template>
