<div class="container m-4">
    <form #myForm="ngForm" (ngSubmit)="inspect(myForm.value)">
        <div class="form-group">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="name" ngModel>
        </div>
        <div class="form-group">
            <label class="form-label">Birthday</label>
            <input type="text" class="form-control" name="birthday" ngModel>
        </div>
        <div class="form-group">
            <label class="form-label">Birthday Cal</label>
            <input type="text" class="form-control" name="birthday_cal" ngModel>
        </div>
        <div class="form-group">
            <label class="form-label">Name Cal</label>
            <input type="text" class="form-control" name="name_cal" ngModel>
        </div>
        <div class="d-flex justify-content-around form-group">
            <button type="submit" class="btn btn-primary m-3 ">Submit</button>
        </div>
    </form>
</div>
<div class="container m-4">
    <div class="d-flex justify-content-around form-group">
        
    </div>
</div>